@page "{id:int?}"
@model WebApplication2.Pages.Admin.Pages.EditModel
<div>
    <a asp-page="/Index">Back to List</a>
</div>

@{
    if (Model.EditPageViewModel != null)
    {
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EditPageViewModel.Id" />
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.EditPageViewModel.Body, new { @class = "form-control", @row = 5 })
                        <span asp-validation-for="EditPageViewModel.Body" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}

