@page "{id:int?}"
@model WebApplication2.Pages.Admin.Pages.EditModel
<div>
    <a asp-page="/Index">Back to List</a>
</div>

@{
    if (Model.EditPageViewModel != null)
    {
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {                 
                    <input type="hidden" asp-for="EditPageViewModel.Id" />                    
                    <div class="form-group">
                        @Html.TextBoxFor(x=>x.EditPageViewModel.Name)
                        @Html.TextAreaFor(x=>x.EditPageViewModel.Body)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    }
}

